.App {
  text-align: center;
  max-width: 100vw;
}

#light {
  background-color: #fff;
}

#dark {
  background-color: #000;
}

.switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: auto;
  padding: 20px;
}
